:root {
    --viewport-height: 92.5;
    --viewport-width: 90.0;
    --left-right-bezel: calc(calc(calc(100 - var(--viewport-width)) / 2.0) * 1vw);
    --bottom-top-bezel: calc(calc(calc(100 - var(--viewport-height)) / 2.0) * 1vh);
}
.wrap {
    position: relative;
}
body {
    background-color: rgb(0,0,0);
    font-family: "Verdana", sans-serif;
    font-size: medium;
}
#container {
    position: fixed;
    pointer-events: auto;
    height: calc(var(--viewport-height) * 1vh);
    width: calc(var(--viewport-width) * 1vw);
    left: var(--left-right-bezel);
    right:  var(--left-right-bezel);
    top: calc(calc(calc(100 - var(--viewport-height)) / 2) * 1vh);
    cursor: move;
    z-index:1;
}
#border {
    background-color: rgba(0,0,0,0);
    border: solid white 0.5vh;
    position: fixed;
    height: calc(var(--viewport-height) * 1vh);
    width: calc(var(--viewport-width) * 1vw);
    left: var(--left-right-bezel);
    right:  var(--left-right-bezel);
    top: calc(calc(calc(100 - var(--viewport-height)) / 2) * 1vh);
    cursor: default;
    pointer-events:none;
    z-index:2;
}
#xAxis{
    position: fixed;
    width: 100vw;
    height: var(--bottom-top-bezel);
    left:0vw;
    bottom:0vh;
    margin-top: 0px !important;
    z-index:3;
}
#yAxis {
    position: fixed;
    width: var(--left-right-bezel);
    height: 100vh;
    left:0vw;
    z-index:3;
}
#mouseDiv {
    position:fixed;
    width: var(--left-right-bezel);
    height: 100vh;
    right:0vw;
    top: 0vh;
    background-color: rgba(0,0,0, 1.0);
    z-index:2;
}
#top {
    position: fixed;
    top: 0vh;
    height: var(--bottom-top-bezel);
    width: 100vw;
    left:0vw;
    background-color: rgba(0,0,0,1.0);
    z-index:2;
}

#bottom-left{
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    height: var(--bottom-top-bezel);
    width: var(--left-right-bezel);
    background-color: rgba(0,0,0,1.0);
    pointer-events:none;
    z-index:2;
}

#bottom-right{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    height: var(--bottom-top-bezel);
    width: var(--left-right-bezel);
    background-color: rgba(0,0,0,1.0);
    pointer-events:none;
    z-index:2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#openButton {
    position: absolute;
    right:0;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
